*@font-face {
    font-family: "OpenSans";
    src: url('../font/OpenSans.ttf , PT Sans.ttf , arial , Ubuntu.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif, 'Ubuntu', 'PT Sans' ;
    box-sizing: border-box;
 }

a {
  text-decoration: none;
}

h1 {
	margin: 0;
}

.spruce {
	background: url(../images/bg-spruce.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	max-width: 1536px;
	height: 720px;
}

.name {
	background: url(../images/name.png);
	background-repeat: no-repeat;
	width: 100%;
	max-width: 150px;
	height: 61px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	display: flex;
	color: #fff;
	font-size: 16px;
	justify-content: center;
	padding-top: 50px;
}

li {
	padding-right: 65px;
}

li:last-child {
	padding-right: 0;
}

h1 {
	font-size: 70px;
	font-family: 'Ubuntu';
	color: #fff;
	padding-top: 80px;
}

.theme {
	font-size: 30px;
	font-family: 'PTS Sans bold';
	color: #fff;
	padding-top: 55px;
}

button {
	border: 1px solid #50c3af;
	border-radius: 50px;
	background-color: #50c3af;
	font-size: 20px;
    font-weight: bold;
	color: #fff;
	padding: 25px 50px 25px 55px;
	margin-top: 100px;
}

.menu {
	text-align: center;
	padding-top: 60px;
}

.page-bg {
	width: 100%;
	max-width: 1536px;
	height: 400px;
}

.box-item {
	display: flex;
	justify-content: center;
	padding-top: 70px;
}

.icon-1 {
	background: url(../images/icon_1.png);
	background-repeat: no-repeat;
	width: 43px;
	height: 30px;
	margin: 0 auto;
}

.icon-2 {
	background: url(../images/icon_heart.png);
	background-repeat: no-repeat;
	width: 38px;
	height: 34px;
	margin: 0 auto;
}

.icon-3 {
	background: url(../images/icon_3.png);
	background-repeat: no-repeat;
	width: 39px;
	height: 35px;
	margin: 0 auto;
}

.item {
	width: 100%;
	max-width: 200px;
	padding-right: 120px;

}

.item:last-child {
	padding-right: 0;
}

.head {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-family: 'PTS Sans';
	padding-top: 35px;
}

.text-item {
	font-size: 20px;
	line-height: 28px;
	font-family: 'PTS Sans';
	color: #a7a9ac; 
	width: 225px;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
}

.hr {
	border-bottom: 2px solid #e2e3e4;
	width: 200px;
	margin: 0 auto;
	padding-top: 20px;
}